<form class="inika" [formGroup]="userForm" (submit)="onSubmit()">
    <div class="grid flex justify-content-between my-4 mx-2">
        <div class="col-5">
            <div class="field">
                <label for="name" class="">Name</label>
                <input id="name" [(ngModel)]="user!.name" formControlName="name" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="email" class="">Email</label>
                <input id="email" [(ngModel)]="user!.email" formControlName="email" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="phone" class="">Phone</label>
                <input id="phone" [(ngModel)]="user!.mobil" formControlName="phone" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="address" class="">Address</label>
                <input id="address" [(ngModel)]="user!.address" formControlName="address" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="col-5 flex flex-column justify-content-between">
            <div class="flex flex-column align-items-end">
                <div class="text-color text-5xl mb-2">
                    {{user!.points? user!.points : 0}} point
                </div>
                <div class="text-color text-xl">
                    Coupon: 20%
                </div>
            </div>
        </div>
    </div>
    <div class=" flex justify-content-center">
        <p-button severity="secondary" [disabled]="!userForm.valid" type="submit" >Save changes</p-button>
    </div>
</form>
