<form class="inika">
    <div class="grid flex justify-content-between my-4 mx-2">
        <div class="col-5">
            <div class="field">
                <label for="name" class="">Name</label>
                <input id="name" formControlName="name" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="email" class="">Email</label>
                <input id="email" formControlName="email" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="phone" class="">Phone</label>
                <input id="phone" formControlName="phone" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field">
                <label for="address" class="">Address</label>
                <input id="address" formControlName="address" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div class="col-5 flex flex-column justify-content-between">
            <div class="flex flex-column align-items-end">
                <div class="text-color text-5xl mb-2">
                    200 point
                </div>
                <div class="text-color text-xl">
                    Coupon: 20%
                </div>
            </div>
            <div>
                <div class="field">
                    <label for="company" class="">Company</label>
                    <input id="company" formControlName="company" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field">
                    <label for="tax" class="">Tax number</label>
                    <input id="tax" formControlName="tax" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>
        </div>
    </div>
    <div class=" flex justify-content-center">
        <p-button severity="secondary"  type="submit" >Reserve a table</p-button>
    </div>
</form>
