<app-hero label="Menu"></app-hero>
<div class="grid h-screen">
    <div class="col-8 col-offset-2 surface-50 p-6">
        <div *ngIf="hasOneOfTheRoles(['manager', 'admin'])" class="flex justify-content-center mb-3">
            <p-button  severity="secondary" (onClick)="addNewMenuItem()">Add new menu item</p-button>
        </div>
            <div class="text-color imperial text-6xl">Food</div>
            <div *ngFor="let food of foodList; index as i">
                <div class="flex inika col-10 col-offset-1 mb-3 justify-content-between">
                    <div class="mr-3 flex-grow-1" >
                        <div class="flex align-items-center">
                            <div class="text-color uppercase text-lg">{{food.name}}</div>
                            <div class="flex-grow-1 px-3 h-full">
                                <p-divider class="text-color-secondary"></p-divider>
                            </div>
                            <div class="text-color-secondary text-lg">{{food.price}} .-</div>
                        </div>
                        <div class="text-color text-sm mx-4">{{foodRecipeToDescription(food.recipe)}}</div>
                    </div>
                    <p-button *ngIf="hasOneOfTheRoles(['customer'])" icon="pi pi-cart-plus" [rounded]="true" [text]="true" (onClick)="addCart(true, i)"></p-button>
                </div>
            </div>
            <p-divider class="text-color-secondary mb-8"></p-divider>
            <div class="text-color imperial text-6xl">Drink</div>
            <div *ngFor="let drink of drinkList; index as i">
                <div class="flex inika col-10 col-offset-1 mb-3 justify-content-between">
                    <div class="mr-3 flex-grow-1" >
                        <div class="flex align-items-center">
                            <div class="text-color uppercase text-lg">{{drink.name}}</div>
                            <div class="flex-grow-1 px-3 h-full">
                                <p-divider class="text-color-secondary"></p-divider>
                            </div>
                            <div class="text-color-secondary text-lg">{{drink.price}} .-</div>
                        </div>
                    </div>
                    <p-button *ngIf="hasOneOfTheRoles(['customer'])" icon="pi pi-cart-plus" [rounded]="true" [text]="true" (onClick)="addCart(false, i)"></p-button>
                </div>
            </div>
    </div>
    <p-dialog header="Add new menu item" [(visible)]="dialogVisible" [style]="{width: '40vw'}">
        <div class="flex justify-content-center">
            <form class="w-auto" >
                <div class="flex ml-5 my-4">
                    <div class="flex align-items-center mr-3">
                        <input type="radio" name="foodRBtn" [value]="true" [(ngModel)]="food" inputId="food"/>
                        <label for="food" class="ml-2">Food</label>
                    </div>
                    <div class="flex align-items-center">
                        <input type="radio" name="foodRBtn" [value]="false" [(ngModel)]="food" inputId="drink"/>
                        <label for="drink" class="ml-2">Drink</label>
                    </div>
                </div>
                <div class="my-4">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control  text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="my-4">
                    <label for="price">Price</label>
                    <input id="price" type="price" [min]="0" class="form-control  text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div *ngIf="food" class="my-4">
                    <label for="ingredients" class="mr-2">Ingredients</label>
                    <p-multiSelect id="price" [showHeader]="true" [options]="ingredientList" optionLabel="name" appendTo="body" [showClear]="true" class=""></p-multiSelect>
                </div>
                <div class="flex justify-content-center">
                    <p-button severity="secondary" type="submit">Save</p-button>
                </div>
            </form>
        </div>
    </p-dialog>
