<app-hero label="Employees"></app-hero>
<div class="grid h-screen">
    <div class="col-8 col-offset-2 surface-50 p-6">
        <div *ngFor="let employee of employees; index as i" class="my-3">
            <div class="flex inika col-10 col-offset-1 mb-3 justify-content-between align-items-center">
                <div class="text-color-secondary text-lg">Name: </div>
                <div class="text-color text-lg">{{employee.name}}</div>
                <div class="text-color-secondary text-lg">Role: </div>
                <div class="text-color text-lg">{{employee.role}}</div>

                <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="changeEmployee(employee)"></p-button> <!---ngIf: user.role=="admin"-->
            </div>
            <p-divider class="text-color-secondary mb-8"></p-divider>
        </div>
        <p-button class="flex justify-content-end" label="Add Employee" icon="pi pi-plus" [rounded]="true" (click)="addEmployee()"></p-button> <!---ngIf: user.role=="admin"-->
    </div>
</div>
```