<div class="inika">
    <div *ngFor="let order of orderList" class="my-3 mx-4">
        <div class="mx-4 my-2">
            <div class="flex justify-content-between m-2">
                <div class="flex-column">
                    <div class="flex">
                        <i class="pi pi-calendar text-color-secondary" ></i>
                        <div class="text-color ml-2">{{fullDate(order.order.date!)}}</div>
                    </div>
                    <div class="text-color ml-5">{{price(order.order)}} Ft</div>
                </div>
                <div class="flex">
                    <p-button severity="secondary" size="small" icon="pi pi-info-circle" (onClick)="openInfoBtnClicked(order)"></p-button>
                    <p-button icon="pi pi-file-export" [rounded]="true" [text]="true" class="ml-8" (onClick)="generateInvoice(order.order)"></p-button>
                </div>
            </div>
            <div class="mx-6" *ngIf="openInfo(order)">
                <div class="flex">
                    <div class="my-3 text-color">Status - {{order.order.status}}</div>
                    <div>
                        <form [formGroup]="formGroup" class="ml-6" >
                            <p-rating formControlName="rating" [(ngModel)]="order.order.rating" (click)="addRating(order)"></p-rating>
                        </form>
                    </div>
                </div>
                <div class="text-color">Items</div>
                <div *ngFor="let item of order.order.foods" class="ml-3">
                    <div class="grid">
                        <div class="col">{{item.food.name}}</div>
                        <div class="col">{{item.food.price}} x {{item.quantity}}</div>
                    </div>
                </div>
            </div>
            <p-divider class="text-color-secondary mt-4"></p-divider>
        </div>
        <p-divider class="text-color mb-8"></p-divider>
    </div>
</div>
