<div class="col-8 col-offset-2 surface-50 p-6">
    <div class="inika">
        <div>
            <div class="text-color-secondary text-xl my-4">Incoming Reservations</div>
            <div *ngFor="let reservation of incomingReservations; index as i" class="mx-4 my-2">
                <div class="flex justify-content-between m-2  mt-3">
                    <div class="flex">
                        <div class="mr-6">
                            <div class="text-color text-xl mb-4">{{reservation.customer.name}}</div>
                            <div class="flex">
                                <i class="pi pi-calendar text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{date(reservation.startingDate)}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex mb-5">
                                <i class="pi pi-user text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{reservation.table.capacity}}</div>
                            </div>
                            <div class="flex">
                                <i class="pi pi-clock text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{time(reservation.startingDate, reservation.endingDate)}}</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="text-color-secondary text-sm" >Accepted</div>-->
                    <div class="flex flex-column text-white">
                        <p-button class="m-1 " severity="success" size="small" type="button" label="Accept" (click="onAcceptClick(reservation)")></p-button>
                        <p-button class="m-1 " severity="secondary" size="small" type="button" label="Decline" (click="onDeclineClick(reservation)")></p-button>
                    </div>
                </div>
                <p-divider class="text-color-secondary mt-4"></p-divider>
            </div>
            <p-divider class="text-color"></p-divider>
        </div>
        <div>
            <div class="text-color-secondary text-xl mt-4">Reservations Today</div>
            <div *ngFor="let reservation of todayReservations; index as i" class="mx-4 my-2">
                <div class="flex justify-content-between m-2  mt-3">
                    <div class="flex">
                        <div class="mr-6">
                            <div class="text-color text-xl mb-2">{{reservation.customer.name}}</div>
                            <div class="flex">
                                <i class="pi pi-calendar text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{date(reservation.startingDate)}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex mb-3">
                                <i class="pi pi-user text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{reservation.table.capacity}}</div>
                            </div>
                            <div class="flex">
                                <i class="pi pi-clock text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{time(reservation.startingDate, reservation.endingDate)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-color-secondary text-sm" >Accepted</div>
                </div>
                <p-divider class="text-color-secondary mt-4"></p-divider>
            </div>
        </div>
        <div>
            <div class="text-color-secondary text-xl mt-4">Upcoming Reservations</div>
            <div *ngFor="let reservation of upcomingReservations; index as i" class="mx-4 my-2">
                <div class="flex justify-content-between m-2  mt-3">
                    <div class="flex">
                        <div class="mr-6">
                            <div class="text-color text-xl mb-2">{{reservation.customer.name}}</div>
                            <div class="flex">
                                <i class="pi pi-calendar text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{date(reservation.startingDate)}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex mb-3">
                                <i class="pi pi-user text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{reservation.table.capacity}}</div>
                            </div>
                            <div class="flex">
                                <i class="pi pi-clock text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{time(reservation.startingDate, reservation.endingDate)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-color-secondary text-sm" >Accepted</div>
                </div>
                <p-divider class="text-color-secondary mt-4"></p-divider>
            </div>
        </div>
        <div>
            <div class="text-color-secondary text-xl mt-4">Older Reservations</div>
            <div *ngFor="let reservation of oldReservations; index as i" class="mx-4 my-2">
                <div class="flex justify-content-between m-2  mt-3">
                    <div class="flex">
                        <div class="mr-6">
                            <div class="text-color text-xl mb-2">{{reservation.customer.name}}</div>
                            <div class="flex">
                                <i class="pi pi-calendar text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{date(reservation.startingDate)}}</div>
                            </div>
                        </div>
                        <div>
                            <div class="flex mb-3">
                                <i class="pi pi-user text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{reservation.table.capacity}}</div>
                            </div>
                            <div class="flex">
                                <i class="pi pi-clock text-color mr-2" style="font-size: 1rem"></i>
                                <div class="text-color">{{time(reservation.startingDate, reservation.endingDate)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-color-secondary text-sm" >Accepted</div>
                </div>
                <p-divider class="text-color-secondary mt-4"></p-divider>
            </div>
        </div>
    </div>
</div>
