@import "~primeflex/primeflex.css";

:root {
    --surface-a: #111111;
    --surface-b: #000000;
    --surface-c: #704924;
    --surface-d: #ecd1bd;
    --surface-e: #111111;
    --surface-f: #111111;
    --text-color: #ecd1bd;
    --text-color-secondary: #b47538;
    --primary-color: #b47538;
    --primary-color-text: #ecd1bd;
    --font-family: "Hero", sans-serif;
    --surface-0: #0e1315;
    --surface-50: #262b2c;
    --surface-100: #3e4244;
    --surface-200: #565a5b;
    --surface-300: #6e7173;
    --surface-400: #87898a;
    --surface-500: #9fa1a1;
    --surface-600: #b7b8b9;
    --surface-700: #cfd0d0;
    --surface-800: #e7e7e8;
    --surface-900: #ffffff;
    --gray-50: #e7e7e8;
    --gray-100: #cfd0d0;
    --gray-200: #b7b8b9;
    --gray-300: #9fa1a1;
    --gray-400: #87898a;
    --gray-500: #6e7173;
    --gray-600: #565a5b;
    --gray-700: #3e4244;
    --gray-800: #262b2c;
    --gray-900: #0e1315;
    --content-padding: 1rem;
    --inline-spacing: 0.5rem;
    --border-radius: 3px;
    --surface-ground: #0e1315;
    --surface-section: #0e1315;
    --surface-card: #161d21;
    --surface-overlay: #161d21;
    --surface-border: #263238;
    --surface-hover: rgba($primaryColor, .08);
    --maskbg: rgba(0, 0, 0, 0.4);
    --focus-ring: 0 0 0 1px #b47538;
    --highlight-bg: #b47538;
    --highlight-text-color: #ecd1bd;
    color-scheme: dark;
}

@font-face {
    font-family: 'Imperial';
    src: url('./assets/ImperialScript-Regular.ttf');
}

.imperial{
    font-family: Imperial;
}