<app-hero label="Ingredients"></app-hero>
<div class="grid h-screen inika">
    <div class="col-8 col-offset-2 surface-50 p-6">
        <div *ngIf="ingredients!=undefined">
            <p-table
                    [value]="ingredients"
                    [paginator]="true"
                    [rows]="10"
                    [resizableColumns]="true"
                    dataKey="name" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name" pResizableColumn>Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th>Unit</th>
                        <th class="w-6rem" *ngIf="canAccess()">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="item">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="item.name">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.name}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="item.quantity">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.quantity}}
                                </ng-template>
                            </p-cellEditor></td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="units" appendTo="body" [(ngModel)]="item.unit"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{item.unit}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td *ngIf="canAccess()">
                            <p-button *ngIf="!editing" pInitEditableRow icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="onRowEditInit(item)"></p-button>
                            <p-button *ngIf="!editing" icon="pi pi-trash" [rounded]="true" [text]="true" (onClick)="deleteIngredientFood(item)"></p-button>
                            <p-button *ngIf="editing" pSaveEditableRow icon="pi pi-check" [rounded]="true" [text]="true" (click)="onRowEditSave(item)"></p-button>
                            <p-button *ngIf="editing" pCancelEditableRow icon="pi pi-times" [rounded]="true" [text]="true" (click)="onRowEditCancel(item, ri)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="caption" *ngIf="canAccess()">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (onClick)="newIngredientFormOpenBtnClick()"></p-button>
                </ng-template>
            </p-table>
        </div>
        <p-dialog header="Add new ingredient" [(visible)]="newIngredientFormOpen" [style]="{width: '60vw'}">
            <form [formGroup]="newIngredientForm" (submit)="onSubmit()" class="mx-6">
                    <div class="field">
                        <label for="name" class="">Name *</label>
                        <input id="name" formControlName="name" type="text" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field">
                        <label for="quantity" class="">Quantity *</label>
                        <input id="quantity" formControlName="quantity" type="number" autocomplete="off" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field" *ngIf="food">
                        <label for="unit" class="">Unit *</label>
                        <p-dropdown id="unit" fomrControlName="unit" [options]="units" appendTo="body"></p-dropdown>
                    </div>
                    <div class="flex justify-content-center">
                        <p-button severity="secondary" type="submit" [disabled]="!newIngredientForm.valid">Save</p-button>
                    </div>
            </form>
        </p-dialog>
    </div>
</div>