<div class="inika">
    <div>
        <div class="text-color-secondary text-xl my-4">Current</div>
        <div *ngFor="let reservation of currentReservations; index as i" class="mx-4 my-2">
            <div class="flex justify-content-between m-2  mt-3">
                <div class="flex">
                    <div class="mr-6">
                        <div class="text-color text-xl mb-2">{{reservation.customer.name}}</div>
                        <div class="flex">
                            <i class="pi pi-calendar text-color mr-2" style="font-size: 1rem"></i>
                            <div class="text-color">
                                {{date(reservation.startingDate)}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex mb-3">
                            <i class="pi pi-user text-color mr-2" style="font-size: 1rem"></i>
                            <div class="text-color">{{reservation.table.capacity}}</div>
                        </div>
                        <div class="flex">
                            <i class="pi pi-clock text-color mr-2" style="font-size: 1rem"></i>
                            <div class="text-color">
                                <!-- {{time(reservation.startingDate, reservation.endingDate)}} -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-color-secondary text-sm" >{{reservation.status}}</div>
            </div>
            <p-divider class="text-color-secondary mt-4"></p-divider>
        </div>
    </div>
</div>
