<app-hero label="Reservation"></app-hero>
<div class="grid">
    <div class="col-8 col-offset-2 surface-50 p-6">
        
            <div class="grid">
                <div class="col-8 col-offset-2">
                    <div class="grid justify-content-between">
                        <div class="field col-5">
                            <label for="date">From</label>
                            <input id="date" [(ngModel)]="startDate" (ngModelChange)="findAvaibleTables()" type="datetime-local" [min]="getNextHour()" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> 
                        </div>
                        <div class="field col-2">
                            <label for="time">Hours</label>
                            <input id="time" [(ngModel)]="hours" type="number" min="1" max="5" (ngModelChange)="findAvaibleTables()" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> 
                        </div>
                        <div class="field col-4">
                            <label for="time">Table</label>
                            <select placeholder="Select a table" [(ngModel)]="selectedTable" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <option *ngFor="let table of avaibleTables">{{ "number: " + table.number + " seats: " + table.capacity}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
   
                    </div>
                    <div class="field col-4">
                        <label for="guests">Number of guests</label>
                        <input id="guests" type="number" [min]="1" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="my-6 col-10 col-offset-1">
                        <p-divider class="text-color"></p-divider>
                    </div>
                    <div class="field col-8">
                        <label for="note" class="">Note</label>
                        <input id="note" type="text" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
            </div>
            <div *ngIf="errorMsg!==undefined" class="flex justify-content-center my-3 text-color">{{errorMsg}}</div>
            <div class=" flex justify-content-center">
                <p-button severity="secondary" [disabled]="!(errorMsg === undefined && newReservationForm.valid)"  type="submit">Reserve a table</p-button>
            </div>
        
    </div>
</div>

