<app-hero label="Reservation"></app-hero>
<div class="grid">
    <div class="col-8 col-offset-2 surface-50 p-6">
        <form [formGroup]="newReservationForm" (ngSubmit) = "onSubmit()">
            <div class="grid">
                <div class="col-8 col-offset-2">
                    <div class="grid">
                        <div class="field col-6 mr-6">
                            <label for="date">Date</label>
                            <input id="date" formControlName="date" type="date" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> 
                        </div>
                        <div class="field col-4">
                            <label for="time">Time</label>
                            <input id="time" formControlName="time" type="time" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> 
                        </div>
                    </div>
                    <div class="field col-4">
                        <label for="guests">Number of guests</label>
                        <input id="guests" formControlName="guests" type="number" [min]="1" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="my-6 col-10 col-offset-1">
                        <p-divider class="text-color"></p-divider>
                    </div>
                    <div class="field col-8">
                        <label for="note" class="">Note</label>
                        <input id="note" formControlName="note" type="text" class="form-control text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
            </div>
            <div class=" flex justify-content-center">
                <p-button severity="secondary"  type="submit">Reserve a table</p-button>
            </div>
        </form>
    </div>
</div>

